{
	"endOfLine": "lf",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 80,
	"importOrder": [
		"^react",
		"<THIRD_PARTY_MODULES>",
		"^@/components",
		"^[./]"
	],
	"importOrderSeparation": true
}
