{
	"endOfLine": "lf",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 80,
	"importOrder": [
		"^react$",
		"^react/(.*)$",
		"^next/(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/lib/(.*)$",
		"^@/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
